*{
    box-sizing: border-box;
}
article div{
    background-color: #FBF7E3;
    border-radius: 25px;
    overflow: hidden;
    width: 80%;
    padding: 15px 15px 15px 40px;
    display: flex;
    flex-direction: row;
    
    
}
article img{
    float: left;
    height: 400px;

}
article p{
    max-width: 100%

}

.title{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #612406;
    width: 300%;
}
.title h2{
    margin-bottom: 0;
}

